h1 {
	font-family: 'Creepster', cursive;
	font-size: 100px;
	color:orange;
	margin-top:0px;
} 

h2 {
	font-family: 'Bangers', cursive;
	font-size:35px;
	color:orange;
	margin-top:10px;
}

body {
	background-image:url("graveyard.jpg");
	background-position: center;
}

h3 {
	color:orange;
	font-size:60px;
	font-family: 'Bangers', cursive;
	margin-bottom:30px;
}

p {
	color:orange;
	font-family: 'Bangers', cursive;
	font-size:20px;
}

#zomb {
	width:190px;
}


#courage {
	padding-top:50px;
	width:190px;
}